---
import React from "react";
import { MiraqueLindo } from "../MiraqueLindo.jsx";
import ButtonComponent from "../ButtonComponent.astro";
---

<div class="box">
  <div class="h-screen bg-white snap-start">
    <div class="flex justify-center py-5">
      <p class="text-3xl md:text-5xl ">iPhone 15 & 15 Plus</p>
    </div>

    <MiraqueLindo client:visible />


  </div>
</div>
