---
const { title } = Astro.props;
const { bgColor } = Astro.props;
const { textColor } = Astro.props;
---

<div class="flex justify-center items-center cursor-pointer my-2">
  <button
    class=`${bgColor ?bgColor: 'bg-lime-700'} ${textColor?textColor:'text-white'} px-9  buttonOne cursor-pointer ripple transition ease-in-out delay-150 hover:text-teal-900 text-2xl hover:border-green-900 duration-300 mx-4 py-1 px-5 rounded-full  `
  >
    {title ? title : "Pedir ahora"}
  </button>
</div>

<style>
  .ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #6ee7b7 radial-gradient(circle, transparent 1%, #34d399 1%)
      center/15000%;
  }
  .ripple:active {
    background-color: #3caa6b;
    background-size: 100%;
    transition: background 0s;
  }

  .buttonOne {
    view-timeline-name: --subjectReveal;
    animation-timeline: --subjectReveal;
    animation-range: normal 25%;
    animation-name: appear;
    animation-fill-mode: both;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
  }
</style>
